# Python-related
__pycache__/
*.py[cod]
*.sqlite3
*.db
*.sqlite

# Environment Variables
.env

# Virtual Environment
venv/
.venv/

# Logs and Cache
*.log
*.cache

# IDE/Editor Files
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db
